<!DOCTYPE html>
<html>
<style>
    body {
        background-image: url(https://wallpapercave.com/dwp1x/wp1929738.jpg), radial-gradient(circle at center, #efaa2b 0%, rgb(51, 51, 51) 50%, rgb(17, 17, 17) 100%);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    h1 {
        font-size: 36px;
        text-align: center;
        font-weight: 600;
        color: white;
        /* background-image: linear-gradient(to left, #009879, #1cd1ad); */
        background-clip: text;
        -webkit-background-clip: text;
    }

    table {
        border-collapse: collapse;
        margin: 0 auto;
        font-size: 0.9em;
        font-family: sans-serif;
        min-width: 400px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
    }

    thead tr {
        background-image: linear-gradient(to right, #efaa2b, #f4c35c);
        color: black;
        text-align: left;
    }

    thead th {
        border-top: 2px solid #d69418;
        border-right: 2px solid #d69418;
    }

    td,
    th {
        padding: 12px 15px;
        border-left: 2px solid #d69418;
        border-right: 2px solid #d69418;
    }

    tbody tr {
        color: black;
        background-image: linear-gradient(to right, #efaa2b, #f4c35c);
    }

    #stats-table {
        margin: 0 auto;
    }

    .rem-button {
        background-color: #efaa2b;
        border: none;
        color: white;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }

    .rem-button:hover {
        background: #f2bc5d;
    }

    .sent-button {
        display: inline-block;
        background-color: #dcdcdc;
        border: none;
        color: gray;
        padding: 15px 32px;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
    }
</style>

<head>
    <title>My Website</title>
    <header>
        <%- include('./partials/NavBar.ejs'); %>
    </header>
</head>

<body>
    <h1 id="stats-head"><%- search %>'s Stats</h1>
    <div>
        <table id="stats-table">
            <thead>
                <tr>
                    <th>Average Score</th>
                    <th>Average Strikes</th>
                    <th>Average Spares</th>
                    <th>Average First Ball</th>
                </tr>
            </thead>
            <tbody>
                <%- averages %>
            </tbody>
        </table>
    </div>
    <div style="text-align: center; padding-top: 30px">
        <% if (isFriend) { %>
            <form action="/removeFriend" method="POST" style="text-align: center;">
                <input type="hidden" name="search" value="<%- search %>">
                <input type="hidden" name="username" value="<%- username %>">
                <button class="rem-button" type="submit">Remove Friend</button>
            </form>
        <% } else if (isSent) { %>
            <span class="sent-button">Sent</span>
        <% } else { %>
            <form action="/addFriend" method="POST" style="text-align: center;">
                <input type="hidden" name="search" value="<%- search %>">
                <input type="hidden" name="username" value="<%- username %>">
                <button class="rem-button" type="submit">Add Friend</button>
            </form>
        <% } %>
    </div>
</body>

</html>